</br>
<h2>お問合せフォーム</h2>
<nav aria-label="パンくずリスト" class="small">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'トップページ', homes_path %></li>
    <li class="breadcrumb-item active" aria-current="page">お問い合わせ</li>
  </ol>
</nav>
<hr />

<%= form_for(@contact, url: confirm_path) do |f| %>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5><strong>入力内容にエラーがあります。</strong></h5>
      <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="width: 30%;">
    <%= f.label :name, '*name*' %>
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "name", required: true %>
  </div>
  </br>
  <div class="form-group" style="width: 30%;">
    <%= f.label :name, '*Enter email*'%>
    <%= f.text_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email", required: true  %>
  </div>
  </br>
  <div class="form-group" style="width: 30%;">
    <%= f.label :name, '*Phone Number*' %>
    <%= f.text_field :phone_number, autofocus: true, class: 'form-control', placeholder: "Phone Number", required: true %>
  </div>
  </br>
  <div class="form-group" style="width: 30%;">
    <%= f.label :subject, '*Subject*' %>
    <%= f.select :subject, Contact.subjects_i18n.keys.map{|k| [I18n.t("enums.contact.subject.#{k}"), k]}, required: true %>

  </div>
  </br>
  <div class="form-group" style="width: 30%;">
    <%= f.label :message, '*Message*' %>
    <%= f.text_area :message, size: '10x10', class: 'form-control', placeholder: "Message", required: true %>
  </div>
  </br>
  <div>
    <%= f.submit '入力内容確認', class: "btn btn-primary" %>
  </div>
  </br>
<% end %>