<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>EasilyPetite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <title>Rakus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag params[:controller] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #808080;">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <a class="navbar-brand" style="color: #ffffff;" href="/homes">浅沼簡単HP作成館</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-item nav-link active" style="color: #ffffff;" href="#">サンプルHP</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" style="color: #ffffff;" href="/homes/company_profile">会社概要</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" style="color: #ffffff;" href="/contacts/new">お問合せ</a>
        </li>
      </ul>
    </nav>
    
    <%= yield %>

    <blockquote class="blockquote text-center" style="background-color: #808080;">
      <p class="mb-0" style="color: #ffffff;">© 2023 <a href = "https://devenues.com/">Devenue Inc.</a>All Rights Reserved.</p>
      <footer class="blockquote-footer">© 2023 Devenue Inc.<cite title="Source Title">All Rights Reserved.</cite></footer>
    </blockquote>
  </body>
</html>